{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
      <p class="mx-auto">Lavanderia Sanus | Tel: 21573291 | Horario Lunes a Viernes de 9:00 am a 6:00 pm y Sabados de 9:00 am a 2:00 pm | <strong> email: lavanderiasanus@gmail.com</strong></p>
    </nav>

 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

    <script src="{% static 'js/popper.min.js' %}"></script>
    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>




</footer> 